# DO NOT CHECK THIS FILE IN WITH PERSONAL INFORMATION SAVED
SALESFORCE_LOGIN_URL=https://orgfarm-caf1480b47-dev-ed.develop.my.salesforce.com/secur/frontdoor.jsp?otp=00Dg500000CASgr%21AQEAQN65CNbv_ZOK82Oj2.rfoajOlIQBbIHPy38_3VLveVWWEPjIo.aVGJ_xhml10zUymTl.Grn7QcN7E0.Qter4fTY_cwbg&startURL=%2Flightning&cshc=5000008DKxB500000CASgr
SALESFORCE_LOGIN_TIME=1783387155718
SF_USERNAME=komswathi.cdbfaec6bff4@agentforce.com
SF_PASSWORD=Jaanshimu_143
SF_TOTP_SECRET=KJZGHM2GV7MCIJS5UEYEPFWA5UDQKI74
SF_ORG_URL=https://orgfarm-caf1480b47-dev-ed.develop.lightning.force.com